<html lang="en">

<head>
  <!-- Adding css to our page -->
  <link rel="stylesheet" href="/css/home.css">
  
</head>

<body>
  <!-- Making Login button -->
  <div class="btn">
    <form action="/register" method="post">
      <h1>Register Now</h1>
      <input type="text" name="name" placeholder="Name">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <button  class="custom-button" type="sumbit">Register</button>
    </form>
  </div>
  
 
<!-- Adding js to our page -->
<script type="text/javascript" src="/js/home.js"></script>
</body>

</html>